input[type=checkbox].css-checkbox{ display: none; }

.css-label{
    padding-left: 20px;
    display: flex;
    width: 50px;
    height: 50px;
    background-image: url(../img/unstar.png);
    background-repeat: no-repeat;
    /* background-color: #E9EEF4; */
    background-size: contain;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-image: url(../img/star.png);
	background-position: 0 0;
	/* border: 3px solid #2FBCDF; */
}